.input {
  display: none;
}
.showInput {
  display: flex;
  width: 200px;
}
.todo {
  display: none;
}
.showTodo {
  display: flex;
}
span {
  cursor: pointer;
}
.todoItem {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(134, 227, 141);
  padding: 10px 9px;
  width: 400px;
}
