form {
  display: flex;
  gap: 10px;
}
form input {
  width: 300px;
  padding: 6px 10px;
  outline: none;
  border: 2px solid grey;
  border-radius: 6px;
}
form button {
  padding: 8px 10px;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 80px;
}
